extends ../layout/board.pug
block top
	.jumbotron.my-3
		h3 게시글 리스트
			small.ml-3.f-125.grey 게시글의 리스트를 보여줍니다
block content
	table.table.table-bordered.table-hover.text-center
		thead.thead-dark
			tr
				th 번호
				th 제목
				th 작성자
				th 작성일
				th 첨부파일
				th 조회수
		tbody
			each v in result
				tr
					td= v.id
					td.text-left= v.title
					td= v.writer
					td= v.wdate
					td
						i.fa.fa-image
					td= v.rnum